!!! transitional
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Bloggy!
    %link{:rel => 'stylesheet', :href => '/stylesheets/blueprint/screen.css', :type => 'text/css', :media => 'screen, projection'}
    == <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    %link{:rel => 'stylesheet', :href => '/stylesheets/site.css', :type => 'text/css', :media => 'screen'}
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/javascripts/jquery-1.3.2.min.js'}
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/javascripts/site.js'}
  %body
    #header
      %h1 osStudyBible
    #content
      .container= content_for_layout
